# Ambientes Virtuais
venv/
env/
.env

# Arquivos compilados e de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Configurações de Editores/IDEs (VSCode, PyCharm)
.vscode/
.idea/
*.swp

# Arquivos do Sistema Operacional (Windows)
Thumbs.db
Desktop.ini